.background {
  background-image: url('/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  background-color: rgba(255, 255, 255, 255);
  border-radius: 10px;
  padding: 100px 30px;
  text-align: center;
  z-index: 2;
}

.container_in {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  color: #333;
}

.subtitle {
  font-size: 1.2rem;
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  width: 350px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  margin: 0 auto;
}

.input_in {
  padding: 5px;
  width: 200px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 375px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.buttonPrimary {
  background-color: #5D8AA8;
  color: white;
}

.buttonSecondary {
  background-color: #555;
  color: white;
}

.profileImage {
  border-radius: 50%;
}

.welcome {
  font-size: 1.5rem;
  margin: 20px 0;
}

.label {
  padding-right: 10px;
}

.icon {
  font-size: 1.2rem;
  padding-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5D8AA8;
  padding: 10px 20px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.signOutButton {
  background: none;
  border: none;
  text-decoration: underline;
  margin-top: 15px;
  cursor: pointer;
}